<link rel="stylesheet" href="/styles/footer.css" />
<footer class="site-footer">
  <div class="footer">
      <div class="getting-started">
        <p>Getting Started</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./singles-dance-lessons.html">Singles</a></li>
            <li><a href="./couples-dance-lessons.html">Couples</a></li>
            <li><a href="./wedding-dance-lessons.html">Wedding</a></li>
            <li><a href="./kids-dance-lessons.html">Kids</a></li>
            <li><a href="./salsa-lessons-calgary.html">Salsa Dance Lessons</a></li>
            <li><a href="./swing-lessons-calgary.html">Swing Dance Lessons</a></li>
            <li><a href="./argentine-tango-lessons-calgary.html">Argentine Tango Lessons</a></li>
            <li><a href="./country-dance-lessons-calgary.html">Country Dance Lessons</a></li>
            
            
          </ul>
        </nav>
      </div>
      <div class="info">
        <p>About Us</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./dances-we-teach.html">Dances We Teach</a></li>
            <li><a href="./how-we-teach.html">How We Teach</a></li>
            <li><a href="./frequently-asked-questions.html">FAQ</a></li>
            <li><a href="./legacy.html">The Legacy</a></li>
            <li><a href="./careers.html">Careers</a></li>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./site-map.html">Site Map</a></li>
          </ul>
        </nav>
      </div>
     <div class="studio-contact">
       <p><a href="./dance-lessons-calgary.html">Calgary Studio</a></p>
       <nav class="social-links social-links-sb">
        <a
          href="https://www.facebook.com/arthurmurraycalgary/"
          target="_blank"
          aria-label="Go to Arthur Murray Calgary Facebook Page"
          rel="noreferrer"
          ><i class="fab fa-facebook-f" aria-hidden="true"></i
        ></a>
     
        <a
          href="https://www.instagram.com/arthurmurrayyyc/"
          target="_blank"
          aria-label="Go to Arthur Murray Calgary Instagram Page"
          rel="noreferrer"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
               </nav>
       <div class="contact-info">
         <p><a href="tel:+14033190732"> 1 (403) 319-0732</a></p>
         <p><a href="https://goo.gl/maps/ybZ97fA8ouBzhmQJ6" target="_blank" aria-label="Go to Google Maps studio address - Opens in a new tab">231 Forge Rd SE <br> Calgary, AB T2H 0S9</a></p>
       </div>
       
       <p class="surrounding-cities">Serving <a href="./dance-lessons-airdrie.html">Airdrie</a>, <a href="./dance-lessons-calgary.html">Calgary</a>,<br> <a href="./dance-lessons-chestermere.html">Chestermere</a>, <a href="./dance-lessons-cochrane.html">Cochrane</a>,<br> and <a href="./dance-lessons-okotoks.html">Okotoks</a>.</p> 

       
     </div>
  </div>  
  <div class="marketing-links">
    <p class="copywriting">
      <small class="copywrite-year">
        Copyright © <span class="copy-year">2024</span>, </small
      ><small>  Arthur Murray</small>
    </p>
    <p class="onbeat-link">
      <small>Local SEO and Marketing by <a href="https://onbeatmarketing.com">OnBeat Marketing</small></a>
    </p>
  </div>  
</footer>