<link rel="stylesheet" href="styles/contact.css" />
<section class="contact" id="contact">
  <div class="call-to-action ascale">
    <h2>New Students</h2>
    <p class="contact-tag">What to wear on your first lesson</p>
    <p>
      Students should wear comfortable clothes that are easy to move in. For
      footwear, somthing with a back that won't easily fall off; ballroom shoes,
      ballet slippers or jazz shoes are acceptable. Hair should be pulled out of
      students’ faces and accessories (such as headbands, long necklaces, or
      bulky jewelry) that may become a distraction are discouraged with the
      exception of accessories students require to focus.
    </p>
  </div>

  <form
    name="kidsForm"
    method="POST"
    id="contactForm"
    action="./thank-you.html"
    class="form"
    data-netlify="true"
  >
    <h2>Register today!</h2>
    <fieldset>
      <p class="form-info">Send us your info and we'll get you started.</p>
      <p class="requiredText">
        <small
          >Fields marked with an
          <span class="required" role="presentation"></span>are required</small
        >
      </p>
      <div class="namebox">
        <firstname style="margin-right: 1rem">
          <label class="required" for="fname"> First Name </label>
          <input
            type="text"
            name="fname"
            id="name"
            autocomplete="given-name"
            placeholder="First Name"
            class="input-name first"
            aria-required="true"
            required
          />
          <p>Please enter first name.</p>
        </firstname>
        <lastname>
          <label class="required" for="lname"> Last Name </label>
          <input
            type="text"
            name="lname"
            id="name"
            autocomplete="family-name"
            placeholder="Last Name"
            class="input-name last"
            aria-required="true"
            required
          />
          <p>Please enter last name.</p>
        </lastname>
      </div>
      <div class="namebox">
        <firstname style="margin-right: 1rem">
          <label class="required" for="cname"> Child's Name </label>
          <input
            type="text"
            name="cname"
            id="name"
            autocomplete="given-name"
            placeholder="First Name"
            class="input first"
            aria-required="true"
            required
          />
          <p>Please enter child's name.</p>
        </firstname>
        <lastname>
          <label class="required" for="cage"> Child's Age </label>
          <input
            type="number"
            name="cage"
            id="cage"
            autocomplete="off"
            placeholder="Age"
            class="input age"
            aria-required="true"
            required
          />
          <p>Please enter child's age.</p>
        </lastname>
      </div>
      <label class="required" for="email"> Email </label>
      <input
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        placeholder="Email"
        class="input"
        aria-required="true"
        required
      />
      <p>Please enter a valid email address.</p>
      <label class="required" for="phone"> Phone </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        autocomplete="tel"
        pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
        placeholder="Phone"
        title="Enter US phone number"
        class="input"
        aria-required="true"
        required
      />
      <p>Please enter a valid phone number.</p>
      <button type="submit" id="submit" value="submit">Submit</button>
    </fieldset>
  </form>
</section>
