<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "image": [
      "https://arthurmurraycalgary.ca/images/AMLogo.svg",
      "https://arthurmurraycalgary.ca/images/CouplesDanceLessons.jpg"
    ],
    "logo": "https://arthurmurraycalgary.ca/images/AMLogo.svg",
    "name": "Arthur Murray Dance Centre Calgary",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "231 Forge Rd SE",
      "addressLocality": "Calgary",
      "addressRegion": "AB",
      "postalCode": "T2H 0S9",
      "addressCountry": "CA"
    },
    "telephone": "+14033190732",
    "location": {
      "@type": "Place",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 50.99407726007614,
        "longitude": -114.06039737391816
      }
    },
    "sameAs": [
      "https://www.instagram.com/arthurmurrayyyc/",
      "https://www.facebook.com//arthurmurraycalgary/"
    ],
    "areaServed": [
      {
        "@type": "City",
        "name": [
          "Calgary",
        ]
      }
    ],
    "priceRange": "$$$",
    "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday",],
      "opens": "17:30",
      "closes": "22:00"
    },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "12:00",
        "closes": "22:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Saturday",
        "opens": "11:00",
        "closes": "17:00"
      }
    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.5",
      "reviewCount": "26"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Nigel - Pez Productions"
        },
        "reviewBody": "Nothing short of life changing. I had zero experience in dance prior to taking lessons and in a short time have become confident in several styles.
        I initially only joined to learn a few latin moves for a trip and was immediately hooked. The experience of the teachers, the friendly and welcoming atmosphere, and the incredibly supportive community have kept me coming back with no end in sight.
        Every teacher I’ve been privileged to learn from has contributed valuable knowledge and insight towards my growth as a dancer. The majority of my lessons have been with Chelsea who has been infinitely patient and kind throughout this journey.
        I can not recommend Arthur Murray enough.",
        "datePublished": "2023-06-07",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Kriss Kaps"
        },
        "reviewBody": "We have been attending Arthur Murray for 2 years now.  Started with our wedding dances (which went very very well!) And continued attending classes afterwards.

        It's the best date night you can have!  Great teachers, lots of fun and active community!",
        "datePublished": "2023-06-21",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Lena Mautone"
        },
        "reviewBody": "Very friendly teachers with a lot of experience.  Everyone is eager to help you with new techniques.  Dance parties are great way to practice what you have learned.  On a side note, I did my first dance competition in Las Vegas last year.  Was very pleased with my outcome and placement.  Overall a great experience, meeting new people, socializing and most of all a lot fun to do.",
        "datePublished": "2023-06-01",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      }
    ],
    "description": "Arthur Murray Calgary specializes in teaching beginner dancers everything they need to know to survive on the dance floor. Our interrelated system makes learning to dance to any style of music fun, quick, and easy!",
    "url": "https://arthurmurraycalgary.ca/"
  }
</script>
