<!-- <link rel="stylesheet" href="styles/team.css" />
<section class="team" id="team">
  <h2>Meet the Team</h2>
  <ul class="cards">
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/AndreaStein.jpg" />
        <img
          src="./images/AndreaStein.jpg"
          alt="Andrea Stein"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Andrea Stein</h3>
      <h4>Franchisee</h4>
    </li>
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/RoryPidgeon.jpg" />
        <img
          src="./images/RoryPidgeon.jpg"
          alt="Rory Pidgeon"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Rory Pidgeon</h3>
      <h4>Franchisee</h4>
    </li>
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/ChelseySchram.jpg" />
        <img
          src="./images/ChelseySchram.jpg"
          alt="Chelsey Schram"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Chelsey Schram</h3>
      <h4>New Student Coordinator</h4>
    </li>
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/DaraDowney.jpg" />
        <img
          src="./images/DaraDowney.jpg"
          alt="Dara Downey"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Dara Downey</h3>
      <h4>Instructor</h4>
    </li>
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/MeganVickery.jpg" />
        <img
          src="./images/MeganVickery.jpg"
          alt="Megan Vickery"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Megan Vickery</h3>
      <h4>Instructor</h4>
    </li>
    <li class="card-item cardJs animation asl" id="card1">
      <picture>
        <source type="image/webp" srcset="./images/GoranSimonji.jpg" />
        <img
          src="./images/GoranSimonji.jpg"
          alt="Franchisee"
          width="500"
          height="500"
          loading="lazy"
        />
      </picture>
      <h3>Goran Simonji</h3>
      <h4>Instructor</h4>
    </li>
  </ul>
</section> -->
